.spacer {
    flex: 1 1 auto;
}

.flag {
    width: 30px;
    height: auto;
}

.flag-small {
    width: 24px;
    height: auto;
    margin-right: 8px;
}

.content {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 40px;
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    color: #555;
}

.flag-icon svg {
    width: 24px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}